@model CorePlus.Entity.CreativeInfoEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function afterAdd(data) {
        //关闭对话框，刷新表格
        //        if (data == "ok") {
        //            window.parent.window.afterAdd();
        //        } else {
        //            $.messager.alert("错误信息", data);
        //        }
        window.parent.window.afterAdd();
    }

    function submitFrm() {
        $("form").submit();
    }
</script>
@using (Ajax.BeginForm("Create", new AjaxOptions() { OnSuccess = "afterAdd" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.AccountName)
    @Html.HiddenFor(model => model.Status)
    <br />
    <table width="90%" border="0" cellpadding="5" cellspacing="5" style="margin-left: 5px;">
        <tr>
            <td>
                @Html.LabelFor(model => model.AdgroupId)
            </td>
            <td>
                @Html.DropDownListFor(model => model.AdgroupId,
                CorePlus.API.Web.ConstWebHelper.Adgroup,
                new Dictionary<string, object> { { "style", "width:300px; height:20px;" } })
                @Html.ValidationMessageFor(model => model.AdgroupId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Title)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Title,
                new Dictionary<string, object> { { "style", "width:300px; height:20px;" } })
                @Html.ValidationMessageFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Description1)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Description1,
                new Dictionary<string, object> { { "style", "width:300px; height:20px;" } })
                @Html.ValidationMessageFor(model => model.Description1)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Description2)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Description2,
                new Dictionary<string, object> { { "style", "width:300px; height:20px;" } })
                @Html.ValidationMessageFor(model => model.Description2)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DestinationUrl)
            </td>
            <td>
                @Html.TextBoxFor(model => model.DestinationUrl,
                new Dictionary<string, object> { { "style", "width:300px; height:20px;" } })
                @Html.ValidationMessageFor(model => model.DestinationUrl)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DisplayUrl)
            </td>
            <td>
                @Html.TextBoxFor(model => model.DisplayUrl,
                new Dictionary<string, object> { { "style", "width:300px; height:20px;" } })
                @Html.ValidationMessageFor(model => model.DisplayUrl)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Pause)
            </td>
            <td>
                @Html.DropDownListFor(model => model.Pause,
                CorePlus.API.Web.ConstWebHelper.Pause,
                new Dictionary<string, object> { { "style", "width:300px; height:20px;" } })
            </td>
        </tr>
    </table>
}
