@model CorePlus.WeiXin.Entity.WxReplyImageTextEntity
@{
    ViewBag.Title = "EditImageText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Js/Home/index.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.MatchType)
    @Html.HiddenFor(model => model.Keyword)
    <div id="divFrm">
        <table width="90%" border="0" cellpadding="5" cellspacing="5">
            <tr>
                <td>
                    @Html.LabelFor(model => model.Keyword)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Keyword)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MatchType)
                </td>
                <td>
                    @{
    var list = CorePlus.Web.EntityWebHelper.GetMatchTypeList();
    foreach (var item in list)
    {
        if (item.Value == Convert.ToString(Model.MatchType ?? 1))
        {
                        @item.Text;
                                  break;
        }
    }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Title)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Title, new Dictionary<string, object>{　　　　　　　　　　　　　　　　
                    {"style","width:300px; height:20px;" }})
                    <span style="color: red;">*</span>
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PicUrl)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PicUrl, new Dictionary<string, object>{　　　　　　　　　　　　　　　　
                    {"style","width:300px; height:20px;" }})
                    <input id="btnUpload" type="button" value="上传" />
                    <span style="color: red;">*</span>
                    @Html.ValidationMessageFor(model => model.PicUrl)
                    <div>
                        <img id="imgSmall" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Url)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Url, new Dictionary<string, object>{　　　　　　　　　　　　　　　　
                    {"style","width:300px; height:20px;" }})
                    <span style="color: red;">*</span>
                    @Html.ValidationMessageFor(model => model.Url)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description, new Dictionary<string, object>{　　　　　　　　　　　　　　　　
                    {"style","width:300px; height:20px;" }})
                    <span style="color: red;">*</span>
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.WithIds)
                </td>
                <td>
                    @{
    System.Text.StringBuilder sb = new System.Text.StringBuilder("<table style='width:100%'><tr>");
    List<CorePlus.WeiXin.Entity.WxReplyImageTextEntity> all = ViewBag.All as List<CorePlus.WeiXin.Entity.WxReplyImageTextEntity>;
    for (int i = 0; i < all.Count; i++)
    {
        if (i != 0 && i % 3 == 0)
        {
            sb.Append("</tr><tr>");
        }
        sb.Append("<td><input type='checkbox' value='" + all[i].ID + "' name='Ids' " + (all[i].Selected ? "checked='checked'" : "") + " />" + all[i].Keyword + "</td>");
    }
    sb.Append("</tr></table> ");
                    }
                    @MvcHtmlString.Create(sb.ToString())
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="保存" />
            @Html.ActionLink("返回", "Index")</p>
    </div>
}
<div id="divUpload" style="display: none;">
    <iframe id="frmUpload" src="javascript:void(0)" frameborder="0" width="100%" height="100%">
    </iframe>
</div>
